@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;

	/* Primary Colors */
	--color-primary-1: #f05d26;
	--color-primary-2: #fef0ea;

	/* Font Colors */
	--font-primary: #f05d26;
	--font-dark-1: #1a1a1a;
	--font-neutral-1: #4d4d4d;
	--font-neutral-2: #808080;
}

@theme inline {
	/* Primary Colors */
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: var(--font-inter, sans-serif);
}

/* #region Font Colors */
.font-primary {
	color: var(--font-primary);
}

.font-dark-1 {
	color: var(--font-dark-1);
}

.font-neutral-1 {
	color: var(--font-neutral-1);
}

.font-neutral-2 {
	color: var(--font-neutral-2);
}
/* #endregion Font Colors */

/* #region Button template */
[class*="btn-"] {
	/* @apply py-2.5 px-4 rounded-xl font-medium text-nowrap cursor-pointer transition duration-200 ease-in; */
	@apply py-2 px-3 md:py-2.5 md:px-4 text-sm md:text-base rounded-lg md:rounded-xl font-medium text-nowrap cursor-pointer transition duration-200 ease-in;
}

[class*="btn-"]:hover {
	@apply brightness-[97%];
}

.btn-primary {
	background-color: #F05D26;
	color: white;
}

.btn-default {
	background-color: #FDF3E2;
	color: #EA9630;
}

.btn-secondary {
	background-color: #F5F5F5;
	color: var(--font-neutral-1);
}

.btn-tertiary {
	background-color: transparent;
	color: var(--font-neutral-1);
}

.button-banner {
	background-color: color-mix(in oklab, #ffffff, transparent 70%);
	color: white;
	@apply p-2 md:p-3 rounded-lg md:rounded-xl text-xs;
}

.btn-pulse {
  animation: pulseShadow 1.5s infinite;
}

@keyframes pulseShadow {
  0% {
    box-shadow: 0 0 0 0 rgba(240, 93, 38, 0.6); 
  }
  70% {
    box-shadow: 0 0 0 12px rgba(240, 93, 38, 0); 
  }
  100% {
    box-shadow: 0 0 0 0 rgba(240, 93, 38, 0);
  }
}

/* #endregion Button template */

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

.clip-path-polygon {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}